/* GLOBAL */

html {
    overflow-x: hidden;
}

body {
    font-family: $main-font;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    outline: none;
}

button:focus, button:active {
    outline: none;
}

/* SECTION HEADER */
.section__header {
    margin-top: 100px;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 76vh;
        background-color: rgba(255, 255, 255, 0.5);
        top: 0;
        left: 0;

        @include device-size(break-md){
            background-color: rgba(255, 255, 255, 0);
        }
    }

    @include device-size(break-md){
        @include text-alignment(left);
        position: relative;
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0nIzJhMzUyZSc+PHBhdGggZD0nTTQuNjQ2IDEuNjQ2YS41LjUgMCAwIDEgLjcwOCAwbDYgNmEuNS41IDAgMCAxIDAgLjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOC0uNzA4TDEwLjI5MyA4IDQuNjQ2IDIuMzU0YS41LjUgMCAwIDEgMC0uNzA4eicvPjwvc3ZnPg==")
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0nIzJhMzUyZSc+PHBhdGggZD0nTTExLjM1NCAxLjY0NmEuNS41IDAgMCAxIDAgLjcwOEw1LjcwNyA4bDUuNjQ3IDUuNjQ2YS41LjUgMCAwIDEtLjcwOC43MDhsLTYtNmEuNS41IDAgMCAxIDAtLjcwOGw2LTZhLjUuNSAwIDAgMSAuNzA4IDB6Jy8+PC9zdmc+");
    }

    .carousel-item {
        img {
            height: 65vh;
            object-fit: cover;
            object-position: right;

            @include device-size(break-md){
                height: calc(100vh - 150px);
            }
        
            @include device-size(break-xl){
                height: 55vh;
            }
        }
    }

    .carousel-caption {
        max-width: 70%;
        width: 100%;
        margin: auto;
        @include text-alignment(center);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        left: 0;
        right: 0;

        h1 {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 900;
            color: $main-color;
            margin-bottom: 10px;

            @include device-size(break-md){
                font-size: 2.9em;
            }
        }

        h2 {
            font-size: 1.1rem;
            font-weight: 400;
            color: $main-color;
            margin-bottom: 20px;

            @include device-size(break-md){
                font-size: 1.3em;
            }
        }

        a {
            background-color: $main-color;
            border-radius: $button-border-radius;
            padding: 12px 10px;
            color: $white;
            text-transform: uppercase;
            font-size: 0.8em;
            font-weight: 600;
            display: inline-block;
            max-width: 200px;
            width: 100%;

            &:hover,
            &:focus,
            &:active {
                background: transparent;
                border: 1px solid $main-color;
                color: $main-color;
            }

            @include device-size(break-md){
                font-size: 1em;
                @include text-alignment(center);
                max-width: 220px;
            }
            
        }

        @include device-size(break-md){
            max-width: 50%;
            width: 100%;
            left: 15%;
            @include text-alignment(left);
            right: auto;
        }
        
    }
}

/* HOME US */
.section__us {
    padding: 40px 20px;

    .section__us-text {
        @include text-alignment(center);
        margin-bottom: 30px;

        h2 {
            font-size: 1.8rem;
            text-transform: uppercase;
            color: $main-color;
            font-weight: 900;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.1rem;
            color: $main-color;
            line-height: 2rem;
        }

        @include device-size(break-md){
            @include text-alignment(left);
            margin-bottom: 0;
        }
    }

    .section__us-image {
        img {
            height: 250px;
            width: 100%;
            object-fit: cover;
            border-radius: $main-border-radius;

            @include device-size(break-md){
                height: 400px;
            }
        }
    }

    @include device-size(break-md){
        padding: 70px 30px;
    }
}

/* HOME FAVORITES */
.section__favorites {
    padding: 40px 0px;
    background-color: $light-gray;

    h2 {
        font-size: 1.8em;
        text-transform: uppercase;
        color: $main-color;
        font-weight: 900;
        margin-bottom: 20px;

        @include device-size(break-md){
            font-size: 2em;
        }
    }

    h3 {
        font-size: 1.2em;
        color: $main-color;
        line-height: 2rem;
        font-weight: 400;

        @include device-size(break-md){
            font-size: 1.4rem;
        }
    }

    .section__favorites-products {
        margin-top: 50px;
        list-style: none;

        .section__favorites-products--item {
            margin-bottom: 30px;

            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: $rounded-border-radius;
            }

            h4 {
                color: $main-color;
                font-size: 1.1rem;
                margin: 15px 0px;
            }

            p {
                color: $main-color;
                font-size: 0.9rem;
            }

            @include device-size(break-lg){
                margin-bottom: 0;
            }
        }
    }

    .section__favorites-products--item:last-of-type {
        margin-bottom: 0px;
    }

    @include device-size(break-md){
        padding: 70px 0px;
    }
}

/* HOME EVENTS */
.section__events {
    padding: 40px 20px;

    h3 {
        font-size: 1rem;
        color: $main-color;
        font-weight: 400;
        @include text-alignment(center);

        @include device-size(break-md){
            font-size: 1.2rem;
        }
    }

    .section__events-event {
        margin-top: 50px;

        .section__events-event--text {
            margin-top: 15px;

            h4 {
                font-size: 1.5rem;
                color: $main-color;
                font-weight: 700;
                letter-spacing: 5px;
                margin-bottom: 10px;
            }

            h5 {
                color: $main-color;
                font-size: 1.1rem;
                font-weight: 400;
                margin-bottom: 20px;
                font-style: italic;
            }

            p {
                margin-bottom: 10px;
                color: $main-color;
            }

            @include device-size(break-md){
                margin-top: 0;
                padding-left: 20px;
            }
        }

        .section__events-event--image {
            img {
                width: 100%;
                border-radius: $main-border-radius;
                height: 200px;
                object-fit: cover;
                max-width: 100%;

                @include device-size(break-md){
                    height: 300px;
                }
            }
        }
    }
}

.home__events.section__events {
    > article {
        padding: 0;
    }

    h2 {
        @include text-alignment(center);
        font-size: 1.8rem;
        text-transform: uppercase;
        color: $main-color;
        font-weight: 900;
        margin-bottom: 20px;

        @include device-size(break-md){
            font-size: 2rem;
        }
    }

    @include device-size(break-md){
        padding: 70px 0px;
    }
}

/* HOME CONTACT */
.section__contact {
    background-image: url(../img/home_contact.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding: 40px 20px;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        @include text-alignment(center);
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $main-color;
        font-weight: 900;
        margin-bottom: 20px;

        @include device-size(break-md){
            font-size: 2rem;
        }
    }

    h3 {
        @include text-alignment(center);
        font-size: 1rem;
        color: $main-color;
        font-weight: 400;
        margin-bottom: 20px;

        @include device-size(break-md){
            font-size: 1.2rem;
        }
    }

    a {
        background-color: $main-color;
        border-radius: $button-border-radius;
        padding: 12px 20px;
        color: $white;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        display: inline-block;

        &:hover,
        &:focus,
        &:active {
            background: transparent;
            border: 1px solid $main-color;
            color: $main-color;
        }
    }

    article {
        @include text-alignment(center);
        max-width: 90%;
        margin: auto;

        @include device-size(break-md){
            max-width: 80%;
        }
    }

    @include device-size(break-md){
        position: relative;
        height: 65vh;
        padding: 70px 30px;
    }
}

/* MENU */
.our_menu {
    margin-top: 125px;
    padding: 40px 20px;
    padding-bottom: 40px;

    h1 {
        font-size: 1.8rem;
        text-transform: uppercase;
        color: $main-color;
        font-weight: 900;
        margin-bottom: 20px;
        @include text-alignment(center);

        @include device-size(break-md){
            font-size: 2rem;
        }
    }

    h2 {
        font-size: 1rem;
        color: $main-color;
        line-height: 1.7rem;
        font-weight: 400;
        @include text-alignment(center);

        @include device-size(break-md){
            font-size: 1.2rem;
            line-height: 2rem;
        }
    }

    .menu_description {
        margin: auto;
        max-width: 100%;
        margin-top: 50px;

        h3 {
            color: $white;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 1rem;
            font-weight: 900;
            margin-bottom: 20px;
            padding: 15px;
            background: $main-color;
            border-radius: 6px;
        }

        @include device-size(break-md){
            max-width: 80%;
        }
    }

    .menu_content--wrapper.menu_content--header {
        display: none;

        @include device-size(break-xs){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
        }

        div {
            @include device-size(break-xs){
                font-size: 1em;
                text-transform: uppercase;
                color: $main-color;
                padding-bottom: 15px;
                width: 100%;
                max-width: 100%;
                @include text-alignment(left);
                font-weight: 700;
                min-height: auto;
            }
        }

        div:first-of-type {
            @include device-size(break-xs){
                color: $main-color;
                font-size: 1em;
                font-weight: 700;
            }
        }
    }

    .menu_content--wrapper {
        margin-bottom: 25px; 

        div {
            color: $gray;
            font-size: 1em;
            margin-bottom: 5px;

            @include device-size(break-xs){
                max-width: 33.3%;
                width: 100%;
                @include text-alignment(left);
                border-left: none;
                padding: 10px 15px;
                color: $gray;
                font-size: 0.8em;
                min-height: 45px;
                display: flex;
                align-items: center;
                margin-bottom: 0;
            }
        }

        div:first-of-type {
            color: $main-color;
            font-size: 1.1em;
            font-weight: 700;

            @include device-size(break-xs){
                color: #767676;
                font-size: 0.8em;
                font-weight: normal;
            }
        }

        @include device-size(break-xs){
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include text-alignment(left);
            border-bottom: 1px dotted $gray;
            margin-bottom: 0;
        }
    }

    .menu_content {
        @include device-size(break-xs){
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
    }

    @include device-size(break-md){
        padding: 70px 30px;
    }
    
}


/* ABOUT US */
#about_us_spacing {
    margin-top: 100px;
}

.about_us {
    padding: 70px 30px;

    .about_us-text {
        margin-bottom: 30px;

        h1 {
            font-size: 1.8em;
            text-transform: uppercase;
            color: $main-color;
            font-weight: 900;
            margin-bottom: 20px;

            @include device-size(break-md){
                font-size: 2em;
            }
        }

        h2 {
            font-size: 1.3rem;
            color: $main-color;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.1rem;
            color: $main-color;
            line-height: 2rem;
        }

        @include device-size(break-md){
            margin-bottom: 0;
        }
    }

    .about_us-image {
        img {
            height: 250px;
            object-fit: cover;
            width: 100%;
            border-radius: 6px;

            @include device-size(break-md){
                height: 400px;
            }
        }
    }

    @include device-size(break-md){
        padding: 70px 30px;
    }
}

.about_us:nth-of-type(2) {
    padding-top: 0;
}

/* EVENTS */
.section__events {
    padding-bottom: 20px;

    h1 {
        font-size: 1.8rem;
        text-transform: uppercase;
        color: $main-color;
        font-weight: 900;
        margin-bottom: 20px;
        @include text-alignment(center);

        @include device-size(break-md){
            font-size: 2rem;
        }
    }

    h2 {
        font-size: 1.2rem;
        color: $main-color;
        line-height: 2rem;
        font-weight: 400;
        @include text-alignment(center);
        text-transform: initial;
    }
}

.section__events.main__events {
    padding: 160px 10px;

    @include device-size(break-md){
        padding: 150px 30px;
        padding-bottom: 50px;
    }
}

/* CONTACT */
.contact {
    margin-top: 145px;
    padding: 70px 20px;

    h1 {
        font-size: 1.8em;
        text-transform: uppercase;
        color: $main-color;
        font-weight: 900;
        margin-bottom: 20px;
        @include text-alignment(center);

        @include device-size(break-md){
            font-size: 2em;
        }
    }

    h2 {
        font-size: 1em;
        color: $main-color;
        line-height: 1.7em;
        font-weight: 400;
        @include text-alignment(center);

        @include device-size(break-md){
            font-size: 1.2em;
            line-height: 2em;
        }
    }

    form {
        max-width: 100%;
        margin: auto;
        margin-top: 40px;

        div {
            margin-bottom: 15px;
        }

        input {
            width: 97%;
            height: 36px;
            padding: 0px 10px;
            border-radius: 4px;
            border: 1px solid $main-color;
            color: $main-color;
            font-size: 0.8rem;

            &:focus,
            &:active {
                outline: none;
            }
        }

        textarea {
            width: 97%;
            height: 150px;
            margin-bottom: 15px;
            padding: 10px 10px;
            border-radius: 4px;
            border: 1px solid $main-color;
            color: $main-color;
            font-size: 0.8rem;
            resize: none;

            &:focus,
            &:active {
                outline: none;
            }
        }

        input[type="radio"] {
            width: auto;
            display: inline-block;
            vertical-align: middle;
            accent-color: $main-color;
        }

        input[type="submit"] {
            display: inline-block;
            max-width: 100px;
            width: 100%;
            background: $main-color;
            color: $white;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
            border: 1px solid $main-color;
            margin-left: 15px;
            cursor: pointer;
        }

        input[type="reset"] {
            display: inline-block;
            max-width: 100px;
            width: 100%;
            background: transparent;
            color: $main-color;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
            border: 1px solid $main-color;
            margin-left: 15px;
            cursor: pointer;
        }

        select {
            width: 97%;
            height: 36px;
            padding: 0px 10px;
            border-radius: $main-border-radius;
            border: 1px solid $main-color;
            color: $main-color;
            font-size: 0.8rem;

            &:focus,
            &:active {
                outline: none;
            }
        }

        label {
            color: $main-color;
            font-weight: 900;
        }

        .form_send_delete {
            text-align: right;
            margin-top: 25px;
        }

        @include device-size(break-md){
            max-width: 70%;
        }
    }

    @include device-size(break-md){
        margin-top: 125px;
        padding: 70px 20px;
    }
}

.contact_map_hours {
    margin-bottom: 70px;
    padding: 0px 30px;

    article {
        margin-bottom: 30px;

        iframe {
            width: 100%;
            height: 350px;
        }

        @include device-size(break-md){
            margin-bottom: 0;
        }
    }

    aside {
        img {
            height: 350px;
            width: 100%;
            object-fit: cover;
        }
    } 
}