footer {
    padding: 30px;
    border-top: 1px solid $main-color;

    .footer__logo {
        @include text-alignment(center);
        margin-bottom: 20px;

        img {
            width: 100%;
            max-width: 120px;
        }

        @include device-size(break-md){
            @include text-alignment(left);
            margin-bottom: 0;
        }
    }

    .footer__links {
        @include text-alignment(center);

        ul {
            list-style: none;

            li {
                display: block;

                a {
                    text-transform: uppercase;
                    color: $main-color;
                    font-size: 0.8rem;
                    padding: 0;
                    margin: 10px 0px;
                    display: block;

                    &:hover,
                    &:focus,
                    &:active {
                        opacity: .7;
                    }
                }
            }
        }

        .footer__links-social {
            list-style: none;
            margin-top: 20px;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    padding: 10px;
                    margin: 0px 5px;

                    &:hover,
                    &:focus,
                    &:active {
                        opacity: .7;
                    }

                    img {
                        width: 18px;
                    }
                }
            }

            @include device-size(break-md){
                margin-top: 0;
            }
        }

        .footer__links-menu {

            ul  {
                li {

                    a {
                        @include device-size(break-md){
                            margin: 0px 10px;
                        }
                    }

                    @include device-size(break-md){
                        display: inline-block;
                        margin-right: 30px;
                    }
                }
            }
        }

        @include device-size(break-md){
            @include text-alignment(right);
            align-items: center;
        }
    }

    @include device-size(break-md){
        flex-direction: row;
        justify-content: space-between;
    }
}